//import colour variables
@import "variables";

/*  Global Variables for the Race to Resilience
    web page 8*/

    #inleiding h2 {
        color: $green_03;
    } 
    #proces h2 {
        color: $green_03;
    }
    #product h2 {
        color: $green_03;
    }
    #conclusie h2 {
        color: $green_03;
    }  
    #reflectie h2 {
        color: $green_03;
    }  

    .inbetween_button01 {
        display: flex;
        align-items: center;
        background-color: $green_04;
        text-align: center;
        width: fit-content;
        padding: 8px 30px 8px 30px;
        border-radius: 25px;
        border-bottom: solid 4px $gray_04;
        color: $white;
        margin: 0 10px 0 10px;
        text-align: center;

        @include media( "retina" ){

        };
        @include media( "screen", ">bp1Width", "<maxWidth" ){

        };
        @include media( "screen", ">minWidth", "<bp1Width" ){
            width: 60vw;
            border-radius: 12px;
            margin: 10px auto 10px auto;
        };
        @include media( "screen", "<minWidth" ){
            width: 60vw;
            border-radius: 12px;
            margin: 10px auto 10px auto;
        };
    }
    .inbetween_button01:hover {
        background-color: $green_03;
        border-bottom: solid 1px $gray_04;
        transform: translateY(2px);
    }

    .inbetween_button02 {
        display: flex;
        align-items: center;
        background-color: $green_03;
        text-align: center;
        width: fit-content;
        padding: 8px 30px 8px 30px;
        border-radius: 25px;
        border-bottom: solid 4px $gray_04;
        color: $white;
        margin: 0 10px 0 10px;
        text-align: center;

        @include media( "retina" ){

        };
        @include media( "screen", ">bp1Width", "<maxWidth" ){

        };
        @include media( "screen", ">minWidth", "<bp1Width" ){
            width: 60vw;
            border-radius: 12px;
            margin: 10px auto 10px auto;
        };
        @include media( "screen", "<minWidth" ){
            width: 60vw;
            border-radius: 12px;
            margin: auto;
            margin: 10px auto 10px auto;
        };
    }
    .inbetween_button02:hover {
        background-color: $green_02;
        border-bottom: solid 1px $gray_04;
        transform: translateY(2px);
    }

    .inbetween_button03 {
        display: flex;
        align-items: center;
        background-color: $green_03;
        text-align: center;
        width: fit-content;
        padding: 8px 30px 8px 30px;
        border-radius: 25px;
        color: $white;
        margin: 0 10px 0 10px
    }


    
/*  Navigation block on first 
    and second project page */

    .nav_container {
        display: block;
        background-color: $white;
        box-shadow: 0px 3px 4px -4px $gray_05;
        width: 100%;
        z-index: 100;
        position: sticky;
        top: 0;

        @include media( "retina" ){

        };
        @include media( "screen", ">bp1Width", "<maxWidth" ){
        
        };
        @include media( "screen", ">minWidth", "<bp1Width" ){
            
        };
        @include media( "screen", "<minWidth" ){
            
        };
    }

    .nav_block {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: auto;
        width: 70vw;
        height: 40px;

        @include media( "retina" ){
            width: 80vw;
        };
        @include media( "screen", ">bp1Width", "<maxWidth" ){
            width: 90vw;
        };
        @include media( "screen", ">minWidth", "<bp1Width" ){
            width: 100vw;
            justify-content: center;
        };
        @include media( "screen", "<minWidth" ){
            width: 100vw;
            justify-content: center;
        };
    }
    
    .nav_block p {
        height: 40px;
        display: flex;
        align-items: center;
        margin: 0 10px 0 10px;
        cursor: pointer;

        @include media( "retina" ){
            
        };
        @include media( "screen", ">bp1Width", "<maxWidth" ){
            
        };
        @include media( "screen", ">minWidth", "<bp1Width" ){

        };
        @include media( "screen", "<minWidth" ){

        };
    }
    
    .nav_block p:hover {
        border-bottom: solid 2px $green_03;
    }

    .nav_block_selected {
        border-bottom: solid 2px $gray_04;
    }



/*  First Section - Introduction 
    contains introduction information */
.intro_container {
    background-image: url(/patternbox/patternpad_1080.svg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 590px;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){

    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        height: 400px;
    };
    @include media( "screen", "<minWidth" ){
        height: 300px;
    };
}

.intro_container_inherit {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50vw;
    height: 100%;
    margin: auto;

    @include media( "retina" ){
        width: 60vw;
    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
        width: 70vw;
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        width: 80vw;
    };
    @include media( "screen", "<minWidth" ){
        width: 90vw;
    };
}

.intro_container_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro_container_textbox  h2 {
    text-transform: uppercase;
    margin: 5px;
    max-width: 800px;
}

.intro_container_textbox p {
    margin: 5px;
}


// Section inbetween introduction and inleiding
.inbetween01_container {
    background-color: $latteblue;
    width: 100%;
    margin: auto;
    padding: 30px 0 30px 0;
    box-shadow: 0px 3px 4px -2px $gray_05;
}

.inbetween01_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 50vw;
    margin: auto;

    @include media( "retina" ){
        width: 60vw;
    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
        width: 70vw;
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        width: 80vw;
        flex-direction: column;
    };
    @include media( "screen", "<minWidth" ){
        width: 90vw;
        flex-direction: column;
    };
}


/*  Second Section - Opening 
    contains orientation phase */

.inleiding_container {
display: block;
}

/*  Third Section -  */

.process_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}

.process_header img {
    height: 30px;
    width: 30px;

    margin-left: 15px;
    margin-top: 15px;
}

.process_image {
    max-height: 100%;
    max-width: 100%;
}




.researchquestions_header {
    display: block;
    background-color: $green_03;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    color: $white;
    cursor: pointer;
    margin: 10px 0 20px 0;

    @include media( "retina" ){
 
    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
  
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        width: 60vw;
        border-radius: 12px;
        margin: 10px auto 10px auto;
    };
    @include media( "screen", "<minWidth" ){
        width: 60vw;
        border-radius: 12px;
        margin: 10px auto 10px auto;
    };
}

.researchquestions_header p {
    color: $white;
    margin: 0;
}

.researchquestions_header:hover {
    background-color: $green_04;
}

.moscow_title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.moscow_text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mockup_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
        flex-direction: column;
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        flex-direction: column;
    };
    @include media( "screen", "<minWidth" ){
        flex-direction: column;
    };
}

.mockup_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.mockup_container p {
    margin: 2px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.mockup {
    padding: 10px;
    max-width: 400px;
    max-height: auto;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
    
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        max-width: 80%
    };
    @include media( "screen", "<minWidth" ){
        max-width: 90%
    };
}


.research_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
        
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        grid-template-columns: auto;
        grid-gap: 25px;
    };
    @include media( "screen", "<minWidth" ){
        grid-template-columns: auto;
        grid-gap: 10px;
    };
}

.research_box img {
    display: block;
    max-width: 350px;
    max-height: 310px;
    height: auto;
    margin: auto 20px auto 20px;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
    
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        margin: auto;
        max-width: 100%;
    };
    @include media( "screen", "<minWidth" ){
        display: none;
    };
}

.research_button_box {
    position: absolute;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
    
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        position: unset;
    };
    @include media( "screen", "<minWidth" ){
        position: unset;
    };
}

.conclusion_research_01 {
    background-color: $green_05;
    border-radius: 12px;
    padding: 10px 20px 20px 20px;
    margin: 10px 0 20px 0;
}

.conclusion_research_01_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.conclusion_research_01_title p {
    color: $green_02;
    margin: 10px 0 5px 0;
}

.research_file_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
    
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        flex-direction: column;
        max-width: 80%;
        margin: 20px;
        
    };
    @include media( "screen", "<minWidth" ){
        flex-direction: column;
        max-width: 90%;
        margin: 10px;
    };
}


.analysis_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 20px 0 40px 0;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){
        margin-bottom: 10px;
    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5px;
    };
    @include media( "screen", "<minWidth" ){
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5px;
    };
}

.analysis_box {
    background-color: $gray_02;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    border-bottom: solid 4px $gray_04;
    margin: auto;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){

    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        padding: 10px;
        margin: 10px auto 10px auto;
    };
    @include media( "screen", "<minWidth" ){
        padding: 10px;
        margin: 10px auto 10px auto;
    };
}
.analysis_box:hover{
    background-color: $gray_03;
    border-bottom: solid 1px $gray_04;
    transform: translateY(2px);
    cursor: pointer;
}

.analysis_boxer {
    display: grid;
    grid-template-rows: 40px 200px 60px;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.analysis_box img {
    max-width:100%;
    max-height:90%;
}

.analysis_box h3 {
    margin: 5px;
    text-align: center;
}

.analysis_box a {
    margin: auto;
}

.prototype_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80vw;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){

    };
    @include media( "screen", ">minWidth", "<bp1Width" ){
        flex-direction: column;
    };
    @include media( "screen", "<minWidth" ){
        flex-direction: column;
    };
}

.prototype_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset !important;
    height: unset;
}

.prototype_box video {
    max-height: 500px;
    width: auto !important;
}

.spacing {
    margin-top: 50px;
    margin-bottom: 50px;

    @include media( "retina" ){

    };
    @include media( "screen", ">bp1Width", "<maxWidth" ){

    };
    @include media( "screen", ">minWidth", "<bp1Width" ){

    };
    @include media( "screen", "<minWidth" ){
        
    };
}