//import colour variables
@import "variables";

.footer_container {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-bottom: 5px;
    width: 100%;
    bottom: 0;
}

.footer_container p {
    text-align: center;
    font-size: 12px;
    margin: 5px;
}