//import colour variables
@import "variables";

html {
  scroll-behavior: smooth;
}

//main body
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
}

// Title Font
h1 {
  font-family: 'Monoton', cursive;
  font-size: 26px;
  font-weight: 100;
  word-spacing: 6px;
  color: $black;
}

// Header Font
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: $black;
  margin-top: 20px;
  margin-bottom: -10px;
}

// Sub Font
h3 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  margin-top: 10px;
  margin-bottom: -10px;
}

// Sub Font 2
h4, h5, h6 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  margin-top: 10px;
  margin-bottom: -10px;
}

// Text Font
a, p, li, span, label, input, table {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: $black;
}

u {
  font-weight: bold;
  color: $green_03;
  cursor: pointer;
}