//import colour variables
@import "variables";

//main body
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
}

// Title Font
h1 {
  font-family: 'Monoton', cursive;
  font-size: 26px;
  font-weight: 100;
  word-spacing: 6px;
  color: $black;
}

// Header Font
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: $black;
}

// Sub Font
h3, h4, h5, h6 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  color: $black;
}

// Text Font
a, p, li, span, label, input {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: $black;
}