/*  Main variables for the design
    Portfolio Mathijs S6 */

//main colours
$black: #101010;
$gray: #BDBDBD;
$dark-gray: #707070;
$lightgray: #f5f5f5;
$white: #fff;

//accent color
$blue: rgb(22, 163, 206);