/*  Main variables for the design
    Portfolio Mathijs S6 */

//colour pallet - Tones
$black: #101010;
$dark-gray: #707070;
$gray: #BDBDBD;
$lightgray: #f5f5f5;
$white: #fff;

//color pallet - Grays
$gray_01: #FFFFFF;
$gray_02: #E7E7E7;
$gray_03: #D1D1D1;
$gray_04: #B6B6B6;
$gray_05: #9B9B9B;

//colour pallet - Blue
$blue_01: #015C92;
$blue_02: #2D82B5;
$blue_03: #53A6D8;
$blue_04: #88CDF6;
$blue_05: #BCE6FF;

//colour pallet - Green
$green_01: #205072;
$green_02: #329D9C;
$green_03: #56C596;
$green_04: #7BE495;
$green_05: #CFF4D2;

//colour pallet - Ping
$pink_01: #FF9CDA;
$pink_02: #EA4492;

//colour pallet - illustrations
$latteblue: #3f3d56;
$skincolor: #ffb9b9;